.appointment{

    border: rgb(65, 11, 11) 3px solid;
    color: rgb(10, 10, 7);
    font-size:medium;
    background-color:rgb(202, 248, 200);
    width: 100%;
    height: 70%;
    border-radius: 1%;


}